.footer__column-link {
  display: flex;
  align-items: baseline;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s ease;
}

.footer__column-link:hover {
  opacity: 0.5;
}
