.page {
  margin: auto 0;
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.logo {
  width: 228px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_place_header {
  z-index: 9;
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
}

.header__title {
  z-index: 3;
  margin: 0 0 0 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  align-self: center;
}

.header__subtitle {
  z-index: 3;
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__link {
  z-index: 3;
  margin: 0;
  color: #2f80ed;
  font-size: 18px;
  text-decoration: none;
}

.header__main-illustration {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  display: flex;
  flex-direction: row-reverse;
}

.header__square-pic {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  margin-top: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  margin: 20px 0 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  padding-top: 60px;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px 0;
  justify-content: space-between;
}

.table_theme_dark {
  padding-top: 80px;
  gap: 80px 0;
}

.table__cell {
  margin: 0;
  padding: 0;
  width: 250px;
  list-style-type: none;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__heading_theme_dark {
  color: white;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_dark {
  color: white;
}

.feynman {
  margin-top: 100px;
  /*на первом листе брифа указано расстояние между секциями digits и feynman 100px. На 9 листе брифа межсекционное расстояние в 100px уже выбрано по этому данное свойство ранее не было использованно. Как понимаю это задача на схлопывание margin*/
  box-sizing: border-box;
  width: 100%;
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.feynman__title {
  z-index: 1;
  margin: 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  z-index: 1;
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  z-index: 0;
  padding: 90px 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
  height: 877px;
  width: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  color: #2f80ed;
}

.footer {
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  /*по брифу данный элемент задан не явно, вопрос задавался в чате*/
  width: auto;
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  justify-content: flex-start;
}

.footer__column_content_social {
  justify-content: flex-start;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.footer__column-links {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  color: white;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  display: flex;
  align-items: baseline;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}
